<footer class="panel--centered" role="contentinfo">
  <div class="grid">
    <div class="centered grid__col--6">
    	<img class="img--avatar" src="http://vignette3.wikia.nocookie.net/mario/images/7/78/Tanooki_Mario_Artwork_-_Super_Mario_Bros._3.png/revision/latest?cb=20120518002849">
      <a class="twitter-timeline" href="https://twitter.com/MaydenAcademy" data-widget-id="646257686158409728">Tweets by @MaydenAcademy</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

      <p>{{ site.description }} <br>
        Follow <a href="https://twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a> or
        subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>
      </p>
    </div>
  </div>
</footer>
